@media (min-width:781px) {
    .alert {
        position: absolute;
        top: 264px;
        left: 350px;
        color: black;
        font-size: 18px;
        background-color: white;
        padding: 10px 10px;
        z-index: 1;
    }
    .patient-div{
        background-color: rgb(175, 175, 166);
        height: 350px;
        width: 100%;
        top: 0;
        left: 0;
        position:relative;
    }
    .patient-div p{
        font-family: var(--font-family);
        font-size: 50px;
        color: var(--font-color);
        text-align: center;
        padding-top: 50px;
    }
    .appointment-form-div{
        background-color: rgb(176, 118, 176);
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: -36px;
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 30px 80px;
        
    }
    input, #patient-type, #treatment, #find-us, textarea{ /*applying global styles to input & id selectors*/
        height: 40px;
        margin-bottom: 15px;
    }
    textarea,#data,#marketing{
        height: initial;
    }
    #data,#marketing{
        margin-left: -1040px;
    }
    .appointment-text{
        font-family: 'Courier New', Courier, monospace;
        font-size:16px ;
        color: black;
        padding-left: 20px;
        margin-top: -30px;
        padding-bottom: 15px;
    }
    button{
        width: 100px;
        height: 50px;
        background-color: white;
        margin-left: 400px;
    }
    button:hover{
        color: blue;
        background-color:rgb(193, 193, 93) ;
    }
    .appointment-page{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: black;
        margin-top: 20px;
        margin-left: 400px;
    }
    .booking-fill{
        margin-left: 20px;
        margin-top: 40px;
    }
     
    }

    @media (max-width:780px) {
    .patient-div{
        background-color: rgb(175, 175, 166);
        height: 350px;
        width: 100%;
        top: -144px;
        left: 0;
        position:relative;
    }
    
    .patient-div p{
        font-family: var(--font-family);
        font-size: 40px;
        color: var(--font-color);
        text-align: center;
        padding-top: 50px;
    }
        
    .alert {
        position: absolute;
        top: 255px;
        left: 10px;
        right: 10px;
        color: black;
        font-size: 16px;
        background-color:white;
        padding: 10px 5px;
        z-index: 1;
    }
    .appointment-form-div{
        background-color: rgb(176, 118, 176);
        margin-bottom: 3px;
        
        border-bottom: 1px solid black;
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        
    }
    input, #patient-type, #treatment, #find-us, textarea{ /*applying global styles to input & id selectors*/
        height: 40px;
        margin-bottom: 15px;
    }
    textarea,#data,#marketing{
        height: initial;
    }
    #data,#marketing{
        margin-left:-330px;
    }
    .appointment-text{
        font-family: 'Courier New', Courier, monospace;
        color: black;
        padding-left: 20px;
        margin-top: -30px;
        padding-bottom: 15px;
    }
    button{
        width: 100px;
        height: 50px;
        background-color:white;
        margin-left: 100px;
    }
    button:hover{
        color:blue;
        background-color:rgb(193, 193, 93) ;
    }
    
    .appointment-page {
        margin-top: -110px;
        margin-left: 50px;
        font-family: var(--font-family);
        color: var(--font-color);
        font-size: 30px;
    }
    .den-clinic{
        margin-left: 50px;
    }
    .booking-fill{
        padding: 30px 20px;
        font-family: var(--font-family);
        color:var(--font-color);
        font-size: 26px;
    }
    
    }
