@media (min-width:781px){/*creating a CSS media query that targets devices with a minimum screen width of 781 pixels*/
    .about-div{  /*styling the about-div which is on the top of the page*/
        background-color: rgb(175, 175, 166);
        height: 350px;
        width: 100%;
        top: 0;
        left: 0;
        position:relative;/*about-div has 4 child divs so the value of the position is relative*/
    }
    
    .child-div1{
        position: absolute;/*I used the value absolute for the position because child-div is inside about-div*/
        margin-left: 293px;
        margin-top: 120px;
        font-family: var(--font-family);
        font-size: 50px;
        color:var(--font-color);

    }
    /* I applied margins, font family and color to the contents of the div*/
    .child-div2{
        position: absolute;
        margin-left: 300px;
        margin-top: 160px;
        font-family: var(--font-family);
        font-size: 50px;
        color:var(--font-color);
    }
    .child-div4{
        position: absolute;
        margin-left: 300px;
        margin-top: 220px;
        font-family: var(--font-family);
        font-size: 16px;
        color: var(--font-color);
    }
    .child-div3{
        position: absolute;
        margin-top: 290px;
        padding-left: 345px;
    }
    .child-div3 a{
        text-decoration: none;
        color:var(--font-color);
        font-family: var(--font-family);
        font-size: 30px;
    }
    .child-div3 a:hover{ /*the :hover selector is used to select the a tag when the user mouses over it*/
        color:blue;
    }
    .about-title{
        font-family: var(--font-family);
        font-size: 16px;
        color:var(--font-color);
        padding-left: 10px;
        margin-top: 30px;
    }
    .about-title strong{
        padding-left: 450px;
        font-family: var(--font-family);
        font-size: 20px;
        color:var(--font-color);
    }
    .team-div{
        display: grid; /*the Grid layout is efficient to create layouts that adapt well to different screen sizes*/
        grid-template-rows: 1fr 1fr;/*the grid-template-rows property is used to specify the size and distributions of rows in a grid container.
                                    The 1fr unit distributes all available space equally among the rows so the grid will be divided to two rows of equal height*/
        height: 400px;
        margin-top:30px;
        margin-bottom: -30px;
        background-color:rgb(195, 169, 169);
        border-bottom:var(--border);
    }
    .horizontal-div{
        display:grid;
        grid-template-columns: repeat(4,1fr); /*creating four columns which have same height and width*/
        
    }
    .vertical-div{
        display: flex; /*creating a flex container for a tag*/
        justify-content: center;  /*horizontally centers the flex items within the flex container*/
    }
    a.doctor{
       display: block; /*creating a block-level box in the layout*/
       height: 100%;
       width: 100%;
       text-decoration: none; /*removing the underline styling from a link*/
       padding-left: 90px;  
    }
    .vertical-div:hover,.vertical-div:hover .fa-user, .vertical-div:hover .team-name{
        background-color:white;
        color: black;
    }
    .team-name {
        color: white;
        margin-left: -30px;
        font-size: 14px;
    }
    .team-expert{
        margin-left: -40px;
    }
    .fa-user{
        padding-top: 10px;
        color:white;
        font-size: 120px;
    }
    }
    /*creating a CSS media query that targets devices with a maximum screen width of 780 pixels*/
    @media (max-width: 780px){
    .about-div{/*styling the about-div which is on the top of the page*/
        background-color: rgb(175, 175, 166);
        height: 350px;
        width: 100%;
        top: 0;
        left: 0;
        position:relative;
    }
    
    .child-div1{
        position: absolute;
        margin-left: 10px;
        margin-top: 50px;
        font-family: var(--font-family);
        font-size: 30px;
        color: var(--font-color);

    }
    .child-div2{
        position: absolute;
        margin-left: 40px;
        margin-top: 100px;
        font-family: var(--font-family);
        font-size: 30px;
        color:var(--font-color);
    }
    .child-div4{
        position: absolute;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 180px;
        font-family: var(--font-family);
        font-size: 20px;
        color: var(--font-color);
    }
    .child-div3{
        position: absolute;
        margin-top: 280px;
        padding-left: 50px;
    }
    .child-div3 a{
        text-decoration: none;
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: 30px;
    }
    .child-div3 a:hover{
        color:blue;
    }
    
    .about-title {
        font-family: var(--font-family);
        font-size: 25px;
        color:var(--font-color);
        padding-top: 30px;
        padding-left: 40px;
    }
    .about-text{
        font-family: var(--font-family);
        font-size: 20px;
        color: var(--font-color);
        padding: 30px 20px;
    }
    .team-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top:30px;
        background-color:rgb(195, 169, 169);
        border-bottom:var(--border);
    }
    
    .horizontal-div{
        display:grid;
        grid-template-rows: repeat(4,1fr);
        
    }
    
    a.doctor{
       display: block;
       height: 100%;
       width: 100%;
       text-decoration: none;
       padding-left: 20px;  
    }
    .vertical-div:hover,.vertical-div:hover .fa-user, .vertical-div:hover .team-name{
        background-color:white;
        color: black;
    }
    
    
    .team-name {
        color:white;
        margin-left: 5px;
        font-size: 14px;
        font-family: var(--font-family);
    }
    .team-expert{
        font-size: 14px;
        font-family: var(--font-family);
        color: white;
    }
    .fa-user{
        padding-top: 10px;
        color:white;
        font-size: 90px;
        padding-left: 30px;

    }
    
    }
